html, body{
  font-family: 'Space Mono', monospace;
  color: black;
  background-color: #FFF500;
}

.logo{
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#three{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}